.TileManager {
	grid-row: 1 / 6;
	grid-column: 1 / 6;
	display: none;
	grid-template-columns: 60px 1fr 60px;
	grid-template-rows: 60px 1fr;
	grid-template-areas:
		"icon    name    close"
		"content content content"
	;
	align-items: center;
	border: 6px solid rgba(0, 0, 0, 1);
	background: rgba(255, 255, 255, 0.8);
	// background: rgba(0, 255, 255, 0.8);
	z-index: 9;

	&>*:nth-child(1) {
		grid-area: icon;
		height: 100%;
		width: 100%;
		padding: 10px;
		// background: red;
	}

	&>*:nth-child(2) {
		grid-area: name;
		// background: blue;
	}
	
	&>*:nth-child(3) {
		grid-area: close;
		color: #b00;
		font-size: xx-large;
		text-align: center;
		// background: green;
		cursor: pointer;
	}

	&>*:nth-child(4) {
		grid-area: content;
		padding: 10px;
		// height: 100%;
		background: pink;
	}
}